
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------------sec-1------------------------------ */
.header{
    width: 100%;
    height: 80px;
    background-color:rgb(83, 207, 207);
    position: fixed;
    top: 0;
    opacity: 0.5;
}
.logo{
    width: 150px;
    height: 80px;
    margin-left: 150px;
    float: left;
}

ul{
    float: right;
    margin-right: 100px;
    margin-top: 20px;
    color: #ffffff;
}
 ul li{
    list-style: none;
    margin: 10px 0;
    display: inline-block;
    margin-left: 12px;
    color: #ffffff;
}
ul li a{
    color: #000000;
    text-decoration: 0;
    font-size: 20px;
}

ul li:hover{
    background-color: #ffffff;
    opacity: 0,1;
}

body{
    height: 3000px;
}
.parent{
    width: 100%;
    height: 100vh;
    background-image: url(../img/ddd.jpg);
    background-size: center/cover ;
    background-repeat: no-repeat;

}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.content{
    background-color: none;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.content h2{
    font-size: 60px;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
}

.content p{
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    word-spacing: 5px;
}
.btn{
    width: 100px;
    height: 50px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
}
.btn2{
    background-color: rgb(54, 158, 255);
    font-size: 15px;
}
span{
    color: rgb(0, 183, 255);
}

.btn:hover{
    opacity: 0.5;
}



.header2 {
    width: 100%;
    height: 100px;
    background-color: rgba(82, 155, 228, 0.3);
    margin-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    opacity: 0;
    transition: 1s;
    z-index: 999;
}
.header2:hover {
    opacity: 1;
}
.header2 i {
    color: #fff;
    font-size: 25px;
    float: left;
    margin-left: 60px;
    margin-top: 20px;
}
.header2 p {
    color: #000;
    float: left;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 15px;
}
.header2 input {
    width: 18%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 240px;
    float: right;
    margin-top: 5px;
}
.header2 input:hover {
    opacity: 0.6;
}
/* -------------------sec-1------------------------- */

/* ----------------------------sec-2----------------------------------- */
h1{
    text-align: center;
    color: rgb(0, 66, 66);
    letter-spacing: 1px;
    margin-top: 40px;
} 
 
.line1-types ,.line-photos{
  height: 5px;
  width: 150px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
   margin: 1px auto;
  margin-top: 10px;
  
} 

.container{
    width: 80%;
    margin: auto;
}
.parent-types{
     background-color: rgb(215, 221, 225);
    margin: 10px;
    margin-top: 80px;
    height: 400px;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    border-left: 3px solid #164c5e;
    border-right: 3px solid #164c5e;
   
    
}
.circle{
    width: 100%;
    height: 25%;
    margin-top: 22%;
 padding: 15px 4;
}
.circle-1,.circle-2,.circle-3{
    width: 25px;
    height: 25px;
    background-color: #fff;
    float: left;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin-left: 400px;
}
.circle-1{
    margin-left: 160px;
}
.circle-2{
    margin-left: 33%;
}
.circle-3{
    margin-left: 33%;
}

.types{
    width: 30%;
    height: 190px;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}
.sale-type{
    background-image: url(../img/images599.jpg);
}
.Doctors-type{
    background-image: url(../img/images50.jpg);
}
.Hotline-type{
    background-image: url(../img/tele.jpg);
}
h3 ,p ,i{
    margin-top: 15px;
    color: #000000;
}
.btn-types{
    color: #000000;
    background: none;
    border: none;
    font-size: 17px;
    text-transform: capitalize;
     cursor: pointer;
}
.sale-type ,.Doctors-type ,.Hotline-type{
    width: 80%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.types::before{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
   background-color: rgba(0, 0, 0, 0.6);
}

.types::after{
    content: " ";
    position: absolute;
    top: -100%;
    left: 0;
    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: 1s ease;
    
}
.types:hover::after{
    top: 0;
}
/* ----------------------------------sec-2---------------------------------------------- */

/* ---------------------------sec-5------------------------------------- */
.chooses{
     width: 100%;
    height: 600px;
    background-color: rgb(109, 146, 146);
     margin: 10px;
    margin-top: 80px;
    position: relative;
}
.line-choose{
     height: 5px;
  width: 230px;
  background-color: rgb(0, 0, 0);
  border-radius: 60%;
  margin-top: 10px;
  margin-left: 100px;
}
.chooses-info{
    margin-top: 10px;
   margin-right: 70px;
    word-spacing: 2px;
    font-size: 18px; 
}
.chooses-img{
    background-image: url(../img/images50.jpg);
    width: 400PX;
    height: 400PX;
    clip-path: circle(42.9% at 22% 29%);
    float: right;
    position: relative;
    bottom: 150px;
    right: 90px;
    background-size: cover;
   
    background-position: center;
    margin-top: -300px;
    margin-right: -80px;
    transition: 2s;
}
.chooses:hover .chooses-img{
    clip-path: circle(50%);
}
.h2-choose{
    margin-top: 90px;
     margin-left: 90px;
     font-size: 50px;
}

/* ---------------------------sec-5------------------------------------- */

/* ------------------------------sec-9----------------------------------------- */
.answers-parent{
    width: 100%;
    background-color: aqua;
    height: 500PX;
    margin-top: 50PX;
    text-align: center;
      background-color: rgb(215, 221, 225);
        /* margin: 10px; */
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
}

.answers{
    float: left;
    width: 30%;
    margin-top: 100px;
    text-align: center;
   background-color: #07495e;
   border-radius: 10px;
   padding: 14px;
   position: relative;
}

.line-answers ,.line-premium{
     height: 5px;
  width: 200px;
  background-color: rgb(0, 0, 0);
  border-radius: 40%;
  margin: 1px auto;
  margin-top: 10px;
}
.center-2{
     margin: 0 5%;
    margin-top: 100px;
}
.answers-img{
    width: 95%;
    margin: auto;
    position: relative;
}
.answers-img img{
    width: 100%;
    border-radius: 10px;
}
.answers-overlay{
    position: absolute;
    top: O;
    bottom: 0;
    right: 0;
    left: 0;

     background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    transition: 0.8s;
    opacity: 0; 
}
.answers:hover .answers-overlay{
visibility: visible;
opacity: 1;
border-radius: 10px;
}
.answers-info{
    color: #ffffff;
    font-size: 20px;
    
}
.answers-overlay a{
 font-size: 25px;
 display: block;
 color: black;
 background-color: #fff;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 margin: 5px 5px 5px auto;
 
}

.answers-overlay a i:hover{
    font-size: 30px;
}

.answers-info{
    padding: 10px 0;
    letter-spacing: 1px;
    
}
.answers::after{
    content: '';
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 2s;
}
.answers:hover::after{
    width: 100%;
    height: 100%;
}
.answers::before{
    content: '';
    width: 100%;
    height: 0;
    bottom:  0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 2s;
}
.answers:hover::before{
    width: 100%;
    height: 100%;
}
/* ----------------------------sec-9---------------------------------------- */

/* --------------------sec-11----------------------------- */
.the-last{
    width: 100%;
    height: 300px;
    background-color: #aaddee;
    position: relative;
    bottom: 0;
     margin: 10px;
    margin-top: 80px;

}
.icons{
    text-align: center;
   position: relative;
   top: 100px;
   right: 40px;
   font-size: 30px;
   letter-spacing: 20px;
}
.p-the-last{
     text-align: center;
   position: relative;
   top: 60px;
   right: 40px;
   font-size: 40px;
}
.img-the-last{
    text-align: center;
    position: relative;
    top: 50px;
    right: 40px;

}
/* --------------------sec-11----------------------------- */

/* ----------------------sec-4------------------------- */
.line-services{
       height: 5px;
  width: 200px;
  background-color: rgb(0, 0, 0);
  border-radius: 40%;
   margin: 1px auto;
  margin-top: 10px;
}
.services{
   
    margin: 10px;
    margin-top: 80px;
    height: 600px;
    padding: 20px;
    width: 100%;
}
.service{
     width: 30%;
    height: 190px;
    float: left;
     margin-left: 40px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    background-color: #51727a;
}
p{
   margin-top: 60px;
   margin-left: 50px;
   color: #000000;

}
h4{
    position: relative;
   left: 30px;
   top: 30px;
   font-size: 25px;
   color: #000000;
}
.service::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 2s ease;

}
.service:hover::after{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}

/* ----------------------sec-4------------------------- */
/* -------------------sec-6------------------------- */

.likes{
     width: 100%;
    height: 350px;
    background-image: url(../img/ddd.jpg);
    background-size: center/cover ;
    background-repeat: no-repeat;
     margin: 10px;
    margin-top: 80px;
    background-attachment: fixed;
}
.icon1-likes ,.icon2-likes ,.icon3-likes ,.icon4-likes{
    text-align: center;
    float: left;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 80px;
}
p{
    font-size: 20px;
} 
.like{
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    
}
/* -------------------sec-6------------------------- */

/* ---------------------SeC-7------------------------------------ */
.premium{
    float: left;
    width: 20%;
    height: 400px;
    background-color: #51727a;
       margin-left: 90px;
    margin-top: 50px;
    position: relative;
   left: 70px;
    text-align: center;
     overflow: hidden;
}
.parent-Premium{
    width: 100%;
    height: 400px;
}
.free-Premium ,.special-Premium ,.Normal-Premium{
    border-radius: 50%;
     border: 2px dotted black;
    width: 150px;
    height: 150px;
    background-color: aqua;
    margin-left: 60px;
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 30px;
}
.btn-Premium{
    width: 150px;
    height: 40px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(140, 177, 182);
}
p{
    margin-right: 40px;
}
.Premium-1{
    background-image: url(../img/images599.jpg);
}
.Premium-2{
    background-image: url(../img/images599.jpg);
}
.Premium-3{
    background-image: url(../img/images599.jpg);
}
.Premium::before{
    content: " ";
    position: relative;
    width: 0;
    height: 0;
   background-color: rgba(0, 0, 0, 0.9);
}

.Premium::after{
    content: " ";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: 1s ease;
    
}
.Premium:hover::after{
    top: 0;
}
.line0-Premium{
       height: 3px;
  width: 80px;
  background-color: rgb(0, 0, 0);
   margin-left: 400px;
  position: relative;
  top: 250px;
  left: 375px;
}
.line1-Premium{
        height: 3px;
  width: 80px;
  background-color: rgb(0, 0, 0);
   margin-left: 400px;
  position: relative;
  top: 250px;
  left: 27px;
}
/* ---------------------SeC-7---------------------------- */

/* ---------------------sec-10--------------------------- */
.photo{
    float: left;
    width: 20%;
    height: 400px;
    
       margin-left: 90px;
    margin-top: 50px;
    position: relative;
   left: 70px;
     overflow: hidden;
}
.photos-perant{
    width: 100%;
    height: 700px;
    
}
.btn-photos{
       color: #000000;
    background: none;
    border: none;
    font-size: 17px;
    text-transform: capitalize;
     cursor: pointer;
}
.photo::before{
    content: " ";
    position: relative;
    width: 0;
    height: 0;
   background-color: rgba(0, 0, 0, 0.9);
}

.photo::after{
    content: " ";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: 1s ease;
    
}
.photo:hover::after{
    top: 0;
}

/* -------------------------sec-10------------------------------------ */
.welcome-perant{
     width: 100%;
    height: 450px;
    background-image: url(../img/ddd.jpg);
    background-size: center/cover ;
    background-repeat: no-repeat;
     margin: 10px;
    margin-top: 80px;
    background-attachment: fixed;
}
.welcome{
     width: 100%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}
.p33{
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 150px;
    color: #ffffff;
    transition: 1s;
    opacity: 1;
}
.welcome-perant:hover .p33{
    transform: translateY(-200px);
  opacity: 0;
}
.welcome-img1 ,.welcome-img2{
    background-image: url(../img/logo.png);
     width: 80PX;
    height: 80PX;
    background-size: cover;
   border-radius: 70%;
   margin-left: 200px;
   position: relative;
   right: 200px;
   bottom: -20px;
}
.welcome-img2{
    background-image: url(../img/logo3.png);
  
}
.h1-welcome{
    font-size: 30px;
    margin-right: 400px;
    color: #ffffff;
    position: relative;
    left: 90px;
    bottom: 70px;
}
.welcome-1{
     width: 30%;
    height: 300px;
    overflow: hidden;
    position: relative;
    left: 200px;
    top: 30px;
   
  
}
.p-welcome{
    font-size: 20px;
    margin-bottom: 50px;
    position: relative;
    bottom: 90px;
    right: 50px;
    color: #ffffff;
}  
.welcome-2{
         width: 30%;
    height: 300px;
    position: relative;
    left: 700px;
    bottom: 270px;
} 
.p-welcome1{
    position: relative;
    bottom: 90px;
    color: #ffffff;
}
.h1-welcome2{
     font-size: 30px;
    color: #ffffff;
    position: relative;
    bottom: 70px;
    right: 40px;

}
.welcome0{
    width: 100%;
    height: 300px;
     overflow: hidden;
     position: relative;
        transition: 2s;
    opacity: 0;
}

.welcome-perant:hover .welcome0{
    transform: translatey(80px);
    opacity: 1;

}

